.icon-firstFilez { background-image: url('_dev/assets/img/firstFilez.png'); background-repeat: no-repeat; }

.icon-somethingz { background-image: url('_dev/assets/img/somethingz.png'); background-repeat: no-repeat; }

.icon-zLastfilez { background-image: url('_dev/assets/img/zLastfilez.png'); background-repeat: no-repeat; }

